@use "./globals/" as *;
@use "./parts/common" as *;
@use "./parts/header" as *;
@use "./parts/footer" as *;
@use "./parts/case-studies" as *;
@use "./parts/pricing" as *;
@use "./parts/animation" as *;


// Hero Section
.hero {
  min-height: 100vh;
  display: flex;
  position: relative;
  &__container{
    margin: auto;
    @include mq(md){
    margin: auto 0 auto 10%;
    }
  }

  &__content {
    margin-top: 95px;
    max-width: 36rem;
    padding: 5rem 2rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 2rem;

    @include mq(md) {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 700;
    color: $color-gray-800;
    margin-bottom: 1.5rem;

    @include mq(md) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 1.125rem;
    color: $color-gray-700;
    margin-bottom: 2rem;
  }
}

.hero__slide-img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-size: cover;
  background-position: center center;
  overflow-y: hidden;
  animation: image-switch-animation 15s infinite;
  z-index: -1;
}

.src1{
  background-image: url(../images/plant-and-laptops.jpg);
}
.src2{
  background-image: url(../images/plants-hang-roof.jpg);
}
.src3{
  background-image: url(../images/plants-in-office.jpg);
}

// スライドのアニメーション
@keyframes image-switch-animation {
  0%, 100%{
    opacity: 0;
  }
  5%{
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  33%{
    opacity: 0;
  }
}

.hero__slide-img:nth-of-type(1){
  animation-delay: 0s;
}
.hero__slide-img:nth-of-type(2){
  animation-delay: 5s;
}
.hero__slide-img:nth-of-type(3){
  animation-delay: 10s;
}

// サービスセクション
.services{
  @include mq(md){
    display: flex;
    gap: 3%;
  }
}

// Card
.card {
  background-color: $color-white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 8%;
  @include mq(md){
    margin-bottom: 0
  }
  @include hover-transition;
  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__image {
    height: 12rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__icon{
    display: inline-block;
    background-color: #eaf2ea;
    padding: 8px;
    border-radius: 50rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    padding: 1.5rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: $color-gray-800;
    margin-bottom: 0.75rem;
  }

  &__text {
    color: $color-gray-600;
    margin-bottom: 1.5rem;
  }

  &__link{
    color: $color-primary;
  }
}

// 特徴・メリットセクション
.features {
  .feature{
    margin-bottom: 5rem;
    @include mq(md){
      display: flex;
      align-items: end;
      gap: 4%;
    }
    &__image{

      @include mq(md){
        width: 48%;
      }
      img{
        border-radius: 10px;
      }
    }
    &__content{
      @include mq(md){
        width: 48%;
      }
    }
  }
  .feature:last-child{
    flex-direction: row-reverse;
    margin-right: 0;
    margin-left: auto;
    margin-top: 4%;
  }
}
.feature__text{
  line-height: 1.6;
  margin-bottom: 4%;
}
.feature__item{
    display: flex;
    align-items: center;
    line-height: .75em;
    margin-bottom: 5%;
}
.feature__title{
  font-size: 24px;
}
.icon-check__wrapper{
  padding-right: 5px;
}

// Form
.section__description{
  line-height: 1.8;
}
.contact{
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  @include mq(md){
    display: flex;
  }
  &__details{
    margin-top: 5%;
  }
  &__contents{
  padding: 1.5rem;
  @include mq(md){
    width: 50%;
    padding: 3rem;
  }
  }
  &__info{
    background: #e9f2eb;
    border-radius: 10px 10px 0 0;
    @include mq(md){
      border-radius: 10px 0 0 10px;
    }
  }
}

.form {
  border-radius: 0 0 10px 10px;
  background: #fff;
  @include mq(md){
    border-radius: 10px 0 0 10px;
  }
  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: $color-gray-700;
    margin-bottom: 0.5rem;
  }

  &__input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid $color-gray-300;
    border-radius: 0.25rem;
    box-sizing: border-box;
    
    &:focus {
      outline: none;
      border-color: $color-primary;
    }
  }

  &__submit{
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
  }
  &__link{
    color: $color-primary;
  }
}

.contact__item{
    display: flex;
    align-items: baseline;
    gap: 4%;
}

.contact__icon{
    display: inline-block;
    background-color: #c3dbc6;
    padding: 8px;
    border-radius: 50rem;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(md){
      width: 30px;
      height: 30px;
    }
}

.contact__label{
  margin-bottom: 0;
}
.contact__text{
    width: calc(96% - 25px);
}
.contact__text p{
  margin-top: 2%;
  line-height: 1.8;
}
